/*start*/

body {
    margin: 0;
}

header {
    background: #7804e6;
    padding: 4px 4px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.header-text01 {
    padding: 4px 4px;
    margin: 2px;
    color: rgb(253, 247, 247);
    font-size: 15px;
}

.cantainer {
    width: 100%;
    min-height: 100%;
    padding: 5%;
}

.section-1 {
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 2px 5px;
}

.logo-image {
    max-height: 71px
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: #aa9696;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 10px;
}

.searchInput {
    border: none;
    background-color: rgb(222, 222, 226);
    border-radius: 10px red;
}

.searchInput::placeholder {
    color: rgb(48, 39, 39);
}

button {
    color: rgb(10, 14, 14);
    cursor: pointer;
}


/*men naviation bar style*/

.home-img {
    background-image: url(/photos/home.jpg);
    width: 100%;
}

.btn {
    padding: 6px 20px;
    border: 2px solid rgb(4, 172, 214);
    background-color: rgb(250, 250, 250);
    color: rgb(10, 6, 6);
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 40px;
    cursor: pointer;
}

.btn:hover {
    padding: 6px 20px;
    border: 2px solid rgb(6, 9, 241);
    background-color: rgb(2, 1, 1);
    color: rgb(247, 241, 241);
    margin: 17px;
    font-size: 1.8rem;
    border-radius: 40px;
    cursor: pointer;
}


/* section pricing*/

.wrapper-card {
    display: flex;
    flex-wrap: nowrap;
    margin: 40px auto;
    width: 77%;
}

.card {
    background: rgb(228, 219, 219);
    border-radius: 3px;
    box-shadow: 0 1px 1px transparent;
    flex: 1;
    margin: 8px;
    padding: 30px;
    position: relative;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.card.popular {
    margin-top: -10px;
    margin-bottom: -10px;
}

.card.popular .card-title h3 {
    color: #978282;
    font-size: 22px;
}

.card.popular .card-price {
    margin: 50px;
}

.card.popular .card-price h1 {
    color: #020203;
    font-size: 60px;
}

.card.popular .card-action button {
    background-color: #fc0060;
    border-radius: 80px;
    color: #fff;
    font-size: 17px;
    margin-top: -15px;
    padding: 15px;
    height: 80px;
}

.card.popular .card-action button:hover {
    background-color: #9cfd00;
    font-size: 23px;
}

.card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-ribbon {
    position: absolute;
    overflow: hidden;
    top: -10px;
    left: -10px;
    width: 114px;
    height: 112px;
}

.card-ribbon span {
    position: absolute;
    display: block;
    width: 160px;
    padding: 10px 0;
    background-color: #3e09ff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    left: -35px;
    top: 25px;
    transform: rotate(-45deg);
}

.card-ribbon::before,
.card-ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
    border-top-color: transparent;
    border-left-color: transparent;
}

.card-ribbon::before {
    top: 0;
    right: 0;
}

.card-ribbon::after {
    bottom: 0;
    left: 0;
}

.card-title h3 {
    color: rgba(0, 0, 0, 0.3);
    font-size: 15px;
    text-transform: uppercase;
}

.card-title h4 {
    color: rgba(0, 0, 0, 0.6);
}

.card-price {
    margin: 60px 0;
}

.card-price h1 {
    font-size: 46px;
}

.card-price h1 sup {
    font-size: 15px;
    display: inline-block;
    margin-left: -20px;
    width: 10px;
}

.card-price h1 small {
    color: rgba(0, 0, 0, 0.3);
    display: block;
    font-size: 11px;
    text-transform: uppercase;
}

.card-description ul {
    display: block;
    list-style: none;
    margin: 60px 0;
    padding: 0;
}

.card-description li {
    color: rgba(0, 0, 0, 0.6);
    font-size: 19px;
    font-weight: 10px;
    margin: 0 0 15px;
}

.card-description li::before {
    font-family: FontAwesome;
    content: "\f00c";
    padding: 0 5px 0 0;
    color: rgba(0, 0, 0, 0.15);
}

.card-action button {
    background: rgb(243, 1, 102);
    border: 2px solid #3498db;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    height: 35px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.card-action button:hover {
    background-color: #62f500;
    box-shadow: 0 2px 4px #cbd816;
    color: #fff;
    font-size: 17px;
}

.card-action h2 {
    text-decoration-color: #2980b9;
    color: rgb(104, 248, 8);
}


/*end */

nav {
    /* position: fixed; */
    z-index: 99;
    width: 100%;
    background: #000000;
}

nav .wrapper {
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: #aaaab4;
}

.nav-links .mobile-item {
    display: none;
}

.nav-links .drop-menu {
    position: absolute;
    background: #2e3c50;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 16px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}

.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    background: #2e3c50;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 16px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .row header {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.content .row .mega-links {
    margin-left: -40px;
    border-radius: 1px solid rgba(255, 255, 255, 0.09);
}

.row .mega-links li {
    padding: 0 20px;
}

.row .mega-links li a {
    padding: 0px;
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
}

.row .mega-links li a:hover {
    color: #f2f2f2;
}

.wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}


/*Media  section */

@media screen and (max-width: 1010px) {
    .wrapper .logo {
        font-size: 30px;
    }
    .wrapper .btn {
        display: block;
    }
    .wrapper .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        top: 0;
        left: -100%;
        background: #28282b;
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
        transition: all 0.3s ease;
    }
    /*Custom Scroll bar*/
     ::-webkit-scrollbar {
        width: 10px;
    }
     ::-webkit-scrollbar-track {
        background: #242526;
    }
     ::-webkit-scrollbar-thumb {
        background: #3a3b3c;
    }
    #menu-btn:checked~.nav-links {
        left: 0%;
    }
    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }
    #close-btn:checked~.btn.menu-btn {
        display: block;
    }
    .nav-links li {
        margin: 15px 10px;
    }
    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }
    .nav-links .drop-menu {
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }
    #showDrop:checked~.drop-menu,
    #showMega:checked~.mega-box {
        max-height: 100%;
    }
    .nav-links .desktop-item {
        display: none;
    }
    .nav-links .mobile-item {
        display: block;
        color: #f2f2f2;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover {
        background: #28282b;
    }
    .drop-menu li {
        margin: 0;
    }
    .drop-menu li a {
        border-radius: 5px;
        font-size: 18px;
    }
    .mega-box {
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }
    .mega-box .content {
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }
    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
    }
    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
        border-top: 0px;
    }
    .content .row .mega-links {
        border-left: 0px;
        padding-left: 15px;
    }
    .row .mega-links li {
        margin: 0;
    }
    .content .row header {
        font-size: 19px;
    }
}

nav input {
    display: none;
}

.body-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
}

.body-text {
    font-size: 45px;
    font-weight: 600;
}

section img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}


/*put*/

body {
    margin: 0;
}

header {
    background: #7804e6;
    padding: 4px 4px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.header-text {
    padding: 4px 4px;
    margin: 2px;
    color: rgb(253, 247, 247);
    font-size: 10px;
}

.cantainer {
    width: 100%;
    min-height: 100%;
    padding: 5%;
}

.section-1 {
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 2px 5px;
}

.logo-image {
    max-height: 71px
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: #aa9696;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 10px;
}

.searchInput {
    border: none;
    background-color: rgb(222, 222, 226);
    border-radius: 10px red;
}

.searchInput::placeholder {
    color: rgb(48, 39, 39);
}

button {
    color: rgb(10, 14, 14);
    cursor: pointer;
}


/*men naviation bar style*/

.home-img {
    background-image: url(/photos/home.jpg);
    width: 100%;
}

.btn {
    padding: 6px 20px;
    border: 2px solid rgb(4, 172, 214);
    background-color: rgb(250, 250, 250);
    color: rgb(10, 6, 6);
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 40px;
    cursor: pointer;
}

.btn:hover {
    padding: 6px 20px;
    border: 2px solid rgb(6, 9, 241);
    background-color: rgb(2, 1, 1);
    color: rgb(247, 241, 241);
    margin: 17px;
    font-size: 1.8rem;
    border-radius: 40px;
    cursor: pointer;
}


/* section pricing*/

.wrapper-card {
    display: flex;
    flex-wrap: nowrap;
    margin: 40px auto;
    width: 77%;
}

.card {
    background: rgb(228, 219, 219);
    border-radius: 3px;
    box-shadow: 0 1px 1px transparent;
    flex: 1;
    margin: 8px;
    padding: 30px;
    position: relative;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.card.popular {
    margin-top: -10px;
    margin-bottom: -10px;
}

.card.popular .card-title h3 {
    color: #978282;
    font-size: 22px;
}

.card.popular .card-price {
    margin: 50px;
}

.card.popular .card-price h1 {
    color: #020203;
    font-size: 60px;
}

.card.popular .card-action button {
    background-color: #fc0060;
    border-radius: 80px;
    color: #fff;
    font-size: 17px;
    margin-top: -15px;
    padding: 15px;
    height: 80px;
}

.card.popular .card-action button:hover {
    background-color: #9cfd00;
    font-size: 23px;
}

.card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-ribbon {
    position: absolute;
    overflow: hidden;
    top: -10px;
    left: -10px;
    width: 114px;
    height: 112px;
}

.card-ribbon span {
    position: absolute;
    display: block;
    width: 160px;
    padding: 10px 0;
    background-color: #3e09ff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    left: -35px;
    top: 25px;
    transform: rotate(-45deg);
}

.card-ribbon::before,
.card-ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
    border-top-color: transparent;
    border-left-color: transparent;
}

.card-ribbon::before {
    top: 0;
    right: 0;
}

.card-ribbon::after {
    bottom: 0;
    left: 0;
}

.card-title h3 {
    color: rgba(0, 0, 0, 0.3);
    font-size: 15px;
    text-transform: uppercase;
}

.card-title h4 {
    color: rgba(0, 0, 0, 0.6);
}

.card-price {
    margin: 60px 0;
}

.card-price h1 {
    font-size: 46px;
}

.card-price h1 sup {
    font-size: 15px;
    display: inline-block;
    margin-left: -20px;
    width: 10px;
}

.card-price h1 small {
    color: rgba(0, 0, 0, 0.3);
    display: block;
    font-size: 11px;
    text-transform: uppercase;
}

.card-description ul {
    display: block;
    list-style: none;
    margin: 60px 0;
    padding: 0;
}

.card-description li {
    color: rgba(0, 0, 0, 0.6);
    font-size: 19px;
    font-weight: 10px;
    margin: 0 0 15px;
}

.card-description li::before {
    font-family: FontAwesome;
    content: "\f00c";
    padding: 0 5px 0 0;
    color: rgba(0, 0, 0, 0.15);
}

.card-action button {
    background: rgb(243, 1, 102);
    border: 2px solid #3498db;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    height: 35px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.card-action button:hover {
    background-color: #62f500;
    box-shadow: 0 2px 4px #cbd816;
    color: #fff;
    font-size: 17px;
}

.card-action h2 {
    text-decoration-color: #2980b9;
    color: rgb(104, 248, 8);
}


/* home button */

.home-button {
    display: inline;
    font-size: inherit;
    text-decoration: inherit;
    color: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
}

#home-img {
    position: relative;
}

.btn-free-membership {
    position: absolute;
    bottom: 15%;
    right: 20%;
}

.couppon_section {
    padding: 20px;
    margin: 30px 50px;
    background-color: #1b49ab;
    display: flex;
    justify-content: space-around;
}

.text-center {
    text-align: center;
}

.text-center h2 {
    color: #ffffff;
}

.text-center h1 {
    color: yellow;
}

.text-center h3 {
    color: #e4870d;
}


/* brand */

#brand00 .Brand {
    font-family: 'Poppins', sans-serif !important;
    background: #eff3f8;
    padding-top: 150px;
}

#brand00 h2 {
    text-align: center;
    padding: 20px;
}

#brand00 .slick-slide {
    margin: 0 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slide img {
    display: block;
}

.slick-initialized .slick-slide {
    display: block;
}

.copy {
    padding-top: 250px;
}


/* all product css start*/

* {
    margin: 0px;
    padding: 0px;
}

.main {
    margin: 2%;
}

.card-product {
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px;
    margin: 2%;
}

#All-product h1 {
    padding: 20px 10px;
    text-align: center;
    background-color: transparent;
}

.image img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.title {
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 20px;
}

.des {
    color: gold;
    font-size: 22px;
    padding: 3px;
    text-align: center;
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

button {
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    background-color: black;
    color: white;
    transition: .5s;
    cursor: pointer;
}

.price-card {
    color: black;
    text-align: center;
}


/* all product css end*/


/* why choose us secction*/

.flip-1 {
    text-align: center;
    font-style: italic;
}

.flip-card {
    display: inline-block;
    padding: 17px;
    background-color: transparent;
    width: 300px;
    height: 220px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: rgb(6, 243, 231);
    color: rgb(233, 211, 211);
    font-size: 20px;
}


/* Style the back side */

.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back button {
    padding: 5px 12px;
    height: 30px;
    border-radius: pink 2px;
    cursor: pointer;
    background: rgb(197, 240, 6);
    text-decoration-color: aqua;
}

.flip_card_container {
    margin: 0px auto;
    text-align: center;
}


/* footer css start*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer_01 {
    display: flex;
    background: rgb(56, 47, 47);
    flex-direction: column;
    justify-content: space-between;
}

.middle_01 {
    display: flex;
    width: 100%;
}

.middle_01 .row_01 {
    width: calc(100% - 20px);
    padding: 0 20px;
}

.row_01h2 {
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.row_01ul li {
    list-style: none;
    margin-bottom: 20px;
}

.row_01 {
    color: azure;
}


/* btn style start */


/* social */

.description {
    font-size: 17px;
    color: #909090;
    margin-bottom: 30px;
}

.description p {
    color: antiquewhite;
    margin-bottom: 10px;
}

.copyright {
    background-color: #b3b1b1;
    padding: 40px 0;
    bottom: 0;
    text-align: center;
}

.futterpara {
    color: gold;
}

.footer-list .footer-product-img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.footer-list .footer-product-content {
    display: flex;
    align-items: center;
}


/* footer css end*/